
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("../image/backgnd.jpg");
  
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 50%; 
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:red;
  color: white;
}





/* Position text in the middle of the page/image */
.bg-text {
  background-image: url("../image/logo.jpg");
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-color: white;
  /* color:black; */
  /* font-weight: bold; */
  border: 4px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  height: 50%;
  padding: 20px;
  text-align: center;
}

h1 {
	margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px rgb(248, 4, 4);
}
/* #check_box td{
  white-space: pre-wrap;
} */
.checkbckgnd{
  
    /* The image used */
    background-image: url("../image/todolist.jpg");
    
    /* Add the blur effect */
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
    
    /* Full height */
    height: 100%; 
    width: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    
  }
  #check_box{
    color: white;
  }

 


* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("/image/pencil.jpg");

  min-height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position:absolute;
 
  /* margin: 500px; */
  
  max-width: 300px;
  padding: 25px;
  background-color: black;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btnlogin {
  background-color:red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btnlogin:hover {
  opacity: 1;
}
h2{
    color: red;
}
ul {
  list-style-type: none;
}
#leftbox {
  float:left; 
  color:Red;
  width:25%;
  height:280px;
  margin-top: 7%;
}